<!-- views/signup.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div id="signupDiv">
        <img id="eat_pasta" src="/images/eat_pasta.png" alt="">
        <img id="chef" src="/images/chef.png" alt="">
        <h2 id="signupHeading">Sign Up Here!</h2>
        <div id="signupFormDiv">
            <form id="signupForm" action="/signup" method="post">
                <div class="mb-3 form-inline">
                    <div class="col-md-6 form-group first-name">
                        <label for="FName" class="form-label">First Name</label>
                        <input type="text" class="inputBox" id="FName" placeholder="  " name="fname" required>
                    </div>
                    <div class="col-md-6 form-group last-name">
                        <label for="LName" class="form-label">Last Name</label>
                        <input type="text" class="inputBox" id="LName" placeholder="  " name="lname">
                    </div>
                </div>
                <div class="mb-3 form-group">
                    <label for="mobile" class="form-label">Mobile Number</label>
                    <input type="number" class="inputBox" id="mobile" pattern="[0-9]{10}" name="mob" placeholder="  "
                        required>
                    <div id="mobileHelp" class="form-text">We'll never share your number with anyone else.</div>
                </div>
                <div class="mb-3 form-group">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="inputBox" id="email" aria-describedby="emailHelp" name="email"
                        placeholder="  " required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="inputBox" id="password" name="pass" placeholder="  " required>
                    <div id="passwordHelp" class="form-text"></div>
                </div>
                <div class="mb-3 form-group">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <div class="input-group">
                        <input type="password" class="inputBox" id="confirmPassword" name="confirmPass" placeholder="  "
                            required>
                        <span class="input-group-addon">
                            <i class="toggle-password fas fa-eye"
                                onclick="togglePasswordVisibility('confirmPassword')"></i>
                        </span>
                    </div>
                    <div id="confirmPasswordHelp" class="form-text"></div>
                </div>
                <center><input id="submit" type="submit" class="btn" value="Sign Up"></center>
            </form>
        </div>
    </div>
</body>
<script src="/js/validateSignup.js"></script>

</html>