<!-- views/partials/footer.handlebars -->
<div class="footer">
    <div class="contact_us">
        <h3 id="contact">Contact Us</h3>
        <h6>012-345-6789 <br>foodies@mail.com</h6>
    </div>
    <img id="footer-sep" src="/images/footer_sep.png" alt="">
    <div class="copyright">
        <p>Made by - Anamika Singh<br>&copy; 2023 - Foodies</p>
    </div>
</div>