<!-- views/admin.handlebars -->
<!DOCTYPE html>
<html>

<head>
    <title>Foodies - Admin</title>
</head>

<body>
    <br><br><br><br>
    <h2>User Profile</h2>
    <p>User: {{username}}</p>
</body>

</html>